

#root {
    position: relative;
    text-align: center;
}

.card {
    border: none;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    display: inline-block;
    width: 3.3em;
    height: 4.6em;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    padding: .25em;
    margin: 0 0.5vw 2.5em 0;
    font-size: 1.2em; /* @change: adjust this value to make bigger or smaller cards */
    font-weight: normal;
    font-family: Arial, sans-serif;
}

.hostCard:hover {
    background-color: orangered;
}

.hostCard {
    position: relative;
    bottom: 0;
    border: 2px solid orangered;
}

.otherCard {
    top: 0;
    border: 2px solid forestgreen;
}

.otherCard:hover {
    background-color: forestgreen;
}

#trumpCard {
    position: relative;
    bottom: 0;
    border: 2px solid deepskyblue;
}

#trumpCard:hover {
    position: center;
    display: inline-block;
    background-color: deepskyblue;
}

.table {
    border: 2px solid deeppink;
}

.startPage {
    position: relative;
    bottom: 0;
    border: 2px solid mediumslateblue;
}

.startPage:hover {
    background-color: mediumslateblue;
}

#host {
    right: 15vw;
}

#join {
    left: 15vw;
}

#back {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    border: 2px solid darkslategrey;
}

#back:hover {
    background-color: darkslategrey;
}

#idInput {
    padding: 10px;
    border: 3px solid #aec6cf;
}

#connect {
    border: 2px solid lightseagreen;
    background-color: white;
    color: lightseagreen;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer
}